.logo {
    max-width: 142px;
    height: 33px;
    margin-bottom: 41px;
    background-size: cover;
}

@media screen and (max-width: 899px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
    .logo {
      width: 104px;
      height: 24px;
      margin-bottom: 32px;
    }
  }
