.profile__button_active_edit {
    background-image: url(../../../../images/profile/Edit\ Button.svg);
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    grid-area: edit;
}

@media screen and (max-width: 320px) {
  .profile__button_active_edit {
    width: 18px;
    height: 18px;
  }
}
