.footer {
    max-width: 880px;
    width: 100%;
    margin: 67px auto 0 auto;
}

@media screen and (max-width: 899px) {
    .footer {
        max-width: 581px;
    }
}

@media screen and (max-width: 583px) {
    .footer {
        max-width: 282px;
    }
}
