.card {
  height: 361px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content 1fr;  
  grid-template-areas: 
    "image image"
    "name like";
  gap: 0;
}

@media screen and (max-width: 899px) {
  .card {
    max-width: 282px;
  }
}